<div class="container mx-auto flex flex-col max-w-7xl p-6 lg:px-8 h-screen ">
  <% if notice.present? %>
    <div id="notice" class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 transition-opacity duration-500" role="alert">
      <%= notice %>
    </div>
  <% end %>
  <div class="flex justify-between w-full">
    <div>
      <h1 class="text-2xl font-bold">Détails du grade</h1>
    </div>
  </div>
  <div class="my-4">
    <%= render @grade %>
  </div>
  <div class="flex justify-between w-full">
    <div>
      <% if current_person.dean? || current_person.teacher? %>
        <%= link_to "Modifier cette note", edit_grade_path(@grade), class: "bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600 mr-2" %>
      <% end %>
      <%= link_to "Retourner aux notes", grades_path, class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 mr-2" %>
    </div>
    <div>
      <% if current_person.dean? || current_person.teacher? %>
        <%= button_to "Supprimer cette note", @grade, method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 text-black px-4 py-2 rounded hover:bg-red-600" %>
      <% end %>
    </div>
  </div>
</div>