<p style="color: green"><%= notice %></p>
<%= render @locality %>
<div>
  <%= link_to "Modifier cette localité", edit_locality_path(@locality) %> |
  <%= link_to "Retour aux localités", localities_path %>
  <%= button_to "Supprimer cette localité", @locality, method: :delete %>
</div>
