<div id="<%= dom_id person %>">
  <p>
    <strong>Gender:</strong>
    <%= person.gender %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= person.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= person.birth_date %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= person.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= person.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Is teacher:</strong>
    <%= person.is_teacher %>
  </p>

  <p>
    <strong>Locality:</strong>
    <%= person.locality_id %>
  </p>

</div>
