<div id="<%= dom_id person %>">
  <p>
    <strong>Sexe:</strong>
    <%= person.gender %>
  </p>
  <p>
    <strong>Prénom:</strong>
    <%= person.first_name %>
  </p>
  <p>
    <strong>Nom:</strong>
    <%= person.last_name %>
  </p>
  <p>
    <strong>Date de naissance:</strong>
    <%= person.birth_date %>
  </p>
  <p>
    <strong>Adresse:</strong>
    <%= person.address %>
  </p>
  <p>
    <strong>Numéro de téléphone:</strong>
    <%= person.phone_number %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>
  <p>
    <strong>Localité:</strong>
    <%= person.locality_id %>
  </p>
</div>
