<div id="<%= dom_id placement %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Person:</strong>
    <%= placement.person_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Classroom:</strong>
    <%= placement.classroom_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this placement", placement, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this placement", edit_placement_path(placement), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
