<div id="<%= dom_id historic %>">
  <p>
    <strong>Start date:</strong>
    <%= historic.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= historic.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= historic.status %>
  </p>

  <p>
    <strong>Class name:</strong>
    <%= historic.class_name %>
  </p>

  <p>
    <strong>People:</strong>
    <%= historic.people_id %>
  </p>

</div>
