<div id="<%= dom_id enrollment %>">
  <p class="my-5">
    <strong>Classe:</strong>
    <%= enrollment.classroom.full_name %>
  </p>
  <p class="my-5">
    <strong>Cours:</strong>
    <%= enrollment.course %>
  </p>
  <% if action_name != "show" %>
    <%= link_to "Show this enrollment", enrollment, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this enrollment", edit_enrollment_path(enrollment), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
