<%= form_with(model: course, class: "container ml-0 flex flex-col max-w-7xl py-2 w-1/2") do |form| %>
  <% if course.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">Oops!</strong>
      <span class="block sm:inline"><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</span>
      <ul class="list-disc pl-5 mt-3">
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-6">
    <%= form.label :name, "Nom", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :name, class: "shadow appearance-none border  w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="mb-6">
    <%= form.label :is_archived, "Le cours est-il archivé ?" , class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.check_box :is_archived, class: "mr-2 leading-tight" %>
    <span class="text-sm">Archiver ce cours</span>
  </div>
  <div class="flex items-center justify-between">
    <%= form.submit "Save Course", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>