<div id="<%= dom_id exam %>">
  <p>
    <strong>Date:</strong>
    <%= exam.date %>
  </p>
  <p>
    <strong>Titre:</strong>
    <%= exam.title %>
  </p>
  <p>
    <strong>Coefficient:</strong>
    <%= exam.coefficient %>
  </p>
  <p>
    <strong>Cours:</strong>
    <%= exam.course_id %>
  </p>
</div>
