<p style="color: green"><%= notice %></p>
<%= render @exam %>
<div>
  <%= link_to "Modifier cet examen", edit_exam_path(@exam) %> |
  <%= link_to "Retourner aux examens", exams_path %>
  <%= button_to "Supprimer cet examen", @exam, method: :delete %>
</div>
