<!DOCTYPE html>
<html>
  <head>
    <title>Ror1Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="bg-white">
      <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="/" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8 w-auto" src="<%= asset_path('logo.png') %>" alt="">
          </a>
        </div>
        <div class="flex lg:hidden">
          <button type="button" onclick="document.getElementById('mobile-menu').showModal();" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Open main menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          <a href="/" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 <%= 'text-green-500' if current_page?(root_path) %> hover:bg-gray-50">Accueil</a>
          <a href="/exams" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 <%= 'text-green-500' if current_page?(exams_path) %> hover:bg-gray-50">Examens</a>
          <a href="/courses" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 <%= 'text-green-500' if current_page?(courses_path) %> hover:bg-gray-50">Cours</a>
          <a href="/semesters" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 <%= 'text-green-500' if current_page?(semesters_path) %> hover:bg-gray-50">Semestres</a>
          <a href="localities" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 <%= 'text-green-500' if current_page?(localities_path) %> hover:bg-gray-50">Localités</a>
          <a href="/historics" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 <%= 'text-green-500' if current_page?(historics_path) %> hover:bg-gray-50">Historique</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Se connecter <span aria-hidden="true">&rarr;</span></a>
        </div>
      </nav>
      <dialog class="lg:hidden" id="mobile-menu" role="dialog" aria-modal="true">
        <div class="fixed inset-0 z-10"></div>
        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
          <div class="flex items-center justify-between">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">Your Company</span>
              <img class="h-8 w-auto" src="<%= asset_path('logo.png') %>" alt="">
            </a>
            <button id="close-button" onclick="document.getElementById('mobile-menu').close();" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">              <span class="sr-only">Close menu</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
              <div class="space-y-2 py-6">
                <a href="/" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 <%= 'text-green-500' if current_page?(root_path) %>">Accueil</a>
                <a href="/exams" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 <%= 'text-green-500' if current_page?(exams_path) %> hover:bg-gray-50">Examens</a>
                <a href="/courses" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 <%= 'text-green-500' if current_page?(courses_path) %> hover:bg-gray-50">Branches</a>
                <a href="/semesters" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 <%= 'text-green-500' if current_page?(semesters_path) %> hover:bg-gray-50">Semestres</a>
                <a href="/localities" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 <%= 'text-green-500' if current_page?(localities_path) %> hover:bg-gray-50">Localités</a>
                <a href="/historics" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 <%= 'text-green-500' if current_page?(historics_path) %> hover:bg-gray-50">Historique</a>
              </div>
              <div class="py-6">
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Se connecter</a>
              </div>
            </div>
          </div>
        </div>
      </dialog>
    </header>
    <%= yield %>
    <footer class="bg-white w-full shadow dark:bg-gray-900 p-6 bottom-0 ">
      <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
          <a href="/" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8 w-auto" src="<%= asset_path('logo.png') %>" alt="">
          </a>
          <ul class="flex flex-col items-start space-y-2.5 lg:space-y-0 lg:flex-row lg:items-center flex-wrap mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
            <li>
              <a href="/" class="hover:underline me-4 md:me-6">Accueil
              </a>
            </li>
            <li>
              <a href="/exams" class="hover:underline me-4 md:me-6">Examens
              </a>
            </li>
            <li>
              <a href="/courses" class="hover:underline me-4 md:me-6">Branches</a>
            </li>
            <li>
              <a href="/semesters" class="hover:underline me-4 md:me-6">Semestres</a>
            </li>
            <li>
              <a href="/localities" class="hover:underline me-4 md:me-6">Localités</a>
            </li>
            <li>
              <a href="/historics" class="hover:underline me-4 md:me-6">Historique</a>
            </li>
          </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.</span>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script>
      function openMenu() {
        document.getElementById('mobile-menu').showModal();
      }
      function closeMenu() {
        document.getElementById('mobile-menu').close();
      }
    </script>
  </body>
</html>
